.header_ticket-form-wrap{
    background: rgba(41, 41, 41, 0.80);
    justify-content: center;
    padding: 60px 15px;
}
.header_ticket-form{
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.header_form-nav{
    font-size: 30px;
    font-weight: 300;
}
.header_form-date-wrap{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 50px ;   
}
.header_form-date{
    display: flex;
}
.header_ticket-btn{
    border-radius: 5px;
    background: #FFA800;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 62px;
    border: none;
    cursor: pointer;
}
.ticket_btn-wrap{
    display: flex;
    justify-content: end;
}