* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  outline: none;
  --swiper-pagination-color: #C4C4C4;
  --swiper-pagination-bullet-inactive-color: #E5E5E5;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 19px;

}
input::placeholder{
  color:#E5E5E5 !important;
}

.ant-picker-header>button.ant-picker-header-super-prev-btn,
button.ant-picker-header-super-next-btn,
button.ant-picker-year-btn {
  display: none !important;
}

.ant-picker-suffix {
  display: none !important;
}

.ant-picker-cell-selected>div{
  box-sizing: content-box !important;
  color: #000 !important;
  background-color: rgba(255, 168, 0, 0.31) !important;
  border: 2px solid #FFA800 !important;
  border-radius: 5px !important;
}


.ant-picker-cell-inner::before {
  border-radius: 5px !important;
  border: none !important;
  background-color: rgba(255, 168, 0, 0.31) !important;
}
.ant-slider-rail{
  border: 1px solid #fff;
  border-radius: 8px !important;
}